<%- include("./include/_sidebar") %>


  <!--오른쪽 사이드바-->
      <div class="sidebar2">
        <div class="sideprofile">
          
            <img src="/images/profile.jpg"style="height: 40px; width: 40px; margin-right:10px;"><span class="username"><%= userId %></span> 
            
        </div>
      </div>
      
   

  <!-- 메인 콘텐츠 부분 -->
  <div class="main-content">
    <!-- 스토리 컨테이너 -->
    <div class="story-container">
    
  </div>
      <div class="story"><img src="/images/profile.jpg"> <span class="username"><%= userId %></span></div>
      <div class="story"><img src="/images/profile.jpg" ><span class="username"><%= userId %></span></div>
      <div class="story"><img src="/images/profile.jpg" ><span class="username"><%= userId %></span></div>
      <div class="story"><img src="/images/profile.jpg" ><span class="username"><%= userId %></span></div>
      <div class="story"><img src="/images/profile.jpg" ><span class="username"><%= userId %></span></div>
      <div class="story"><img src="/images/profile.jpg" ><span class="username"><%= userId %></span></div>
    </div>
    



    <!-- Feed -->
    <div class="feed">
      
    
      <% files.forEach(file => { %>
      <div class="post">
        <p><img src="/images/profile.jpg"style="height: 40px; width: 40px; margin-right:10px;"> <%= userId %> </p>
       
        <img src="/uploads/<%= file %>" style="height: 640px; width: 460px; margin-right:10px;"><br>
        
        <!--하트는 클릭하면 변하게 나중에 수정필요-->
        <img src="/images/heart.png" style="width:25px; height: 25px;">
        <img src="/images/comment.png" style="width:25px; height: 25px;">
        <img src="/images/share.png" style="width:25px; height: 25px;"> <br>
        좋아요 갯수
        <p class="postcontent"><%= body %>gkgkgkgk</p>
      </div><hr>
      <% }) %>
       
   
    </div>   
  </div>

</body>
</html>
