<%- include("./include/_sidebar") %>


  <!--오른쪽 사이드바-->
      <div class="sidebar2">
        <div class="sideprofile" style="margin-bottom: 20px;">
          <img src="/images/profile.jpg"style="height: 40px; width: 40px; margin-right:10px;"><span class="username"><%= userId %></span> 
            <a href="/" style="margin-left: 10px; font-size: 0.8rem; text-decoration: none; font-weight: bold;">로그아웃</a>
        </div>

        회원님을 위한 추천

        <div class="alluser" style="margin-top:20px;">
          <% users.forEach((user) => { %>
            <div class="user" style="display: flex; align-items: center;">
              <img src="/images/profile.jpg" style="height: 40px; width: 40px; margin-right: 10px; margin-bottom: 20px;">
              <span class="username" style="margin-bottom: 20px;"><%= user.id %></span>
            </div>
          <% }) %>
        </div>
        
      </div>
      
   

  <!-- 메인 콘텐츠 부분 -->
  <div class="main-content">
    <!-- 스토리 컨테이너 -->
  <div class="story-container">
      <% storyposts.forEach((storypost=> { %>
      <div class="story">
        <!-- <a href = "storydetail"> -->
          <a href = "/storydetail/<%= storypost.userId %>">
        <img src="/images/profile.jpg" style="border: solid 0.1rem #DD2A7B;
        border-radius: 50%;";>
      </a>
        <span class="username"><%= storypost.userId %></span>
      </div>
      <% })) %>
  </div>




    <!-- Feed -->
    <div class="feed">
      
      <% posts.forEach((post, index)=> { %>
        <div class="post">
            <p><img src="/images/profile.jpg" style="height: 25px; width: 25px; margin-right:10px;"><%= post.userId %> </p>
            <% if (files[index]) { %>
              <img src="/uploads/<%= files[index] %>" style="height: 640px; width: 460px; margin-right:10px;"><br>
          <% } %>
            <!--하트는 클릭하면 변하게 나중에 수정필요-->
            <img src="/images/heart.png" style="width:25px; height: 25px;">
            <img src="/images/comment.png" style="width:25px; height: 25px;">
            <img src="/images/share.png" style="width:25px; height: 25px;"> <br>
            <p style="font-size: 12px;">좋아요 갯수</p>
            <p class="postcontent"><span style="font-weight: bold;"><%= post.userId %></span> <%= post.body %></p>
        </div><hr>
    <% }) %>
    
       
   
    </div>   
  </div>

</body>
</html>
